@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  h1 {
    @apply text-lime-800 text-4xl font-bold;
  }
  a {
    @apply hover:underline;
  }
  button {
    @apply duration-500 ease-in-out inline-flex items-center justify-center font-semibold whitespace-nowrap transition-all hover:cursor-pointer
    uppercase gap-2 font-mono text-foreground !bg-transparent hover:!text-background hover:!bg-foreground py-[8px] px-3 border-2 !rounded-none;
  }
  .header a {
    @apply inline-flex items-center justify-center font-semibold whitespace-nowrap transition-all
    duration-500 ease-in-out hover:cursor-pointer
    uppercase gap-2 font-mono text-foreground bg-transparent ;
  }
  .header a.active {
    @apply text-stone-400
  }
  .txui-cell-lbl {
    @apply bg-background whitespace-nowrap font-medium !pt-2 !pb-2 text-gray-900 dark:text-white;
  }
  .txui-cell-value {
    @apply font-mono bg-background text-amber-400 !pt-2 !pb-2;
  }
  .txui-cell-value button {
      @apply !text-amber-400 border-0 !p-0 underline hover:no-underline !bg-background !h-6
  }
}
.limit-full {
  display:inline-block;
  width: 50%;
  overflow-wrap: break-word;
}